---
layout: default
---

<h1 class="blogue">{{ page.title }}</h1>

<section class="blog-list">
  {% for post in site.posts %}
  <article class="blog-post">
    {% if post.image %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-image-link">
      <img
        src="{{ post.image }}"
        alt="Imagem do artigo {{ post.title }}"
        class="blog-post-image"
      />
    </a>
    {% endif %}

    <div class="blog-post-content">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-title-link">
          {{ post.title }}
        </a>
      </h2>
      <p class="blog-post-meta">
        {{ post.date | date: "%d %B %Y" }} | Por {{ post.author }}
      </p>
      <p class="blog-post-description">
        {{ post.description | default: post.excerpt | strip_html | truncate: 160
        }}
      </p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-readmore">
        Ler mais &rarr;
      </a>
    </div>
  </article>
  {% endfor %}
</section>

<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">« Anterior</a>
  {% else %}
  <span class="previous disabled">« Anterior</span>
  {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
  paginator.page %}
  <span class="page current">{{ page }}</span>
  {% else %}
  <a href="{{ paginator.paginate_path | replace: ':num', page }}" class="page"
    >{{ page }}</a
  >
  {% endif %} {% endfor %} {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Próxima »</a>
  {% else %}
  <span class="next disabled">Próxima »</span>
  {% endif %}
</nav>
