---
layout: default
---

<h1>{{ page.title }}</h1>

<section class="blog-list">
  {% for post in site.posts %}
  <article class="blog-post">
    {% if post.image %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-image-link">
      <img
        src="{{ post.image }}"
        alt="Imagem do artigo {{ post.title }}"
        class="blog-post-image"
      />
    </a>
    {% endif %}

    <div class="blog-post-content">
      <h2>
        <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-title-link">
          {{ post.title }}
        </a>
      </h2>
      <p class="blog-post-meta">
        {{ post.date | date: "%d %B %Y" }} | Por {{ post.author }}
      </p>
      <p class="blog-post-description">
        {{ post.description | default: post.excerpt | strip_html | truncate: 160
        }}
      </p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-readmore">
        Ler mais &rarr;
      </a>
    </div>
  </article>
  {% endfor %}
</section>
